@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

:root {
    --text-color-d: #333333;
    --text-color-l: #ffff;
    --btn-color: #42A5F5;
    --bg-color-l: #E0E0E0;
    --bg-color-d: #ADB5BD;
    --background-color: #fffafa; 
    --baloo-bhaijan: "Roboto", sans-serif;
    --satisfy-font: "Satisfy", cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: var(--baloo-bhaijan);
    padding: 10px 30px;
}


/* code for navbar */
.nav-container {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 0 2.4rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(2deg, #199be1, #f2fcfe);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container h2 {
  font-family: var(--satisfy-font);
  font-size: 1.8vw;
  /* color: #FFD700; */
}

.nav-container .center{
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav-container a {
  text-decoration: none;
  color: var(--text-color-d);
  font-size: 1.3vw;
  position: relative;
  transition: color 0.3s ease;
}

/* Underline animation */
.nav-container .center a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #5a5959;
  transition: width 0.3s ease;
}

.nav-container a:hover {
  color: #5a5959;
}

.nav-container a:hover::after {
  width: 100%;
}

.nav-container .login-btn {
    background: #333333;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-container .login-btn a {
  color: #ffff;
  font-weight: 600;
}

.nav-container .login-btn:hover {
  background: #242424;
}
